/* 
  约定： 优先级 --> styles/palette.styll 大于 theme/styles/palette.styl
  目的： 用于重写默认颜色常量，或者设置新的 stylus 颜色常量
  默认： 默认颜色常量包括： 
          $accentColor = #3eaf7c
          $textColor = #2c3e50
          $borderColor = #eaecef
          $codeBgColor = #282c34
          $arrowBgColor = #ccc
*/
$accentColor = #f00